
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    color: white;
}

.card{
  color: rgb(94, 94, 94);
}

#header {}
#main {flex: 1;}
#footer {}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    }
  
  .flex-item:nth-child(1) {
    order: 1;
    flex: 2 1 auto;
    align-self: auto;
    }
  
  .flex-item:nth-child(2) {
    order: 1;
    flex: 2 1 auto;
    align-self: auto;
    }